openapi: 3.0.0
info:
  title: OnePageCRM API
  description: >-
    The OnePageCRM REST API. Full guides, a per-endpoint reference, and
    copy-ready examples live at https://developer.onepagecrm.com/.


    Built something with OnePageCRM? Tell us at
    https://forms.onepagecrm.com/65d470e49e344574cb4b3e5b/ or email
    support(at)onepagecrm(dot)com.


    Authentication is HTTP Basic: your username is your user_id and your
    password is your api_key. Find both at https://app.onepagecrm.com/app/api
    (API tab).


    Conventions — pagination (page, per_page), sorting (sort_by, order), time
    filters (since, until, modified_since), partial updates (partial=true) and
    undo deletion (undo=true) — are documented on the developer portal.
  termsOfService: 'https://www.onepagecrm.com/api-use'
  version: '3.0'
servers:
- url: 'https://app.onepagecrm.com/api/v3'
  description: Production Application Server
security:
- BasicAuth: []
tags:
- name: Bootstrap
  description: "Account start-up data in a single call — settings, the logged user, and reference lists such as statuses and lead sources. Also used to log out or roll your API key."
- name: Users
  description: "The logged user and the other members of the account. Each user can update their own details; admins can update anyone's."
- name: Contacts
  description: "The people you're actively selling to. Each contact is the hub for its related actions, deals, notes, calls and meetings."
- name: Companies
  description: "Organizations that group related contacts, with shared details like postal address and website. A company can hold its own deals and actions, and always exists alongside a contact (they're called 'organizations' in the app)."
- name: Actions
  description: "The next steps to take on a contact — the heart of OnePageCRM. Actions sort ASAP first, then by due date (overdue first), then waiting-for, then undated queued items."
- name: Action Stream
  description: "Your contacts ordered by when their next action is due — the default view in the OnePageCRM app."
- name: Team Stream
  description: "The Action Stream across the whole account in one list, or for any single user — using the same next-action-due ordering."
- name: Deals
  description: "Potential sales tracked against a contact — amount, stage, and expected or actual close date. Deals support file attachments."
- name: Notes
  description: "Free-form information logged against a contact — meeting notes, context, or anything else relevant. Notes support file attachments."
- name: Calls
  description: "Phone calls logged against a contact, including the number dialled and the result. Calls support file attachments."
- name: Meetings
  description: "Meetings logged against a contact, including when they happened and the outcome. Meetings support file attachments."
- name: Attachments
  description: "Files attached to a deal, note, call or meeting — stored in OnePageCRM (S3) or linked from Google Drive, Dropbox or Evernote."
- name: Relationship Types
  description: "The labels used to describe how two contacts are related — for example 'colleague', 'spouse' or 'referred by'."
- name: Pipelines
  description: "Your sales processes and the deal stages within them. Each product or service group can have its own pipeline."
- name: Statuses
  description: "The stages a contact moves through in your sales process. The list comes pre-populated and can be edited to fit your account."
- name: Lead Sources
  description: "How a contact first came to you. Like statuses, this list is pre-populated and can be edited to fit your account."
- name: Filters
  description: "Saved, custom queries over your contacts. Filters are created in the app and can then be applied through the API."
- name: Predefined Actions
  description: "Reusable action templates for steps you take often (called 'Saved Actions' in the app)."
- name: Predefined Items
  description: "A configurable list of products or services, used to standardize deal creation."
- name: Predefined Action Groups
  description: "Groups of predefined actions that can be applied together as a workflow."
- name: Predefined Item Groups
  description: "Groups of predefined deal items that are sold together or complement one another."
- name: Custom Fields
  description: "Extra, user-defined fields on contacts. Configurable by admins."
- name: Company Fields
  description: "Extra, user-defined fields on companies. Configurable by admins."
- name: Deal Fields
  description: "Extra, user-defined fields on deals. Configurable by admins."
- name: Notifications
  description: "The logged user's in-app notifications (excludes email and link notifications)."
- name: Countries
  description: "The countries OnePageCRM supports, with their ISO-3166 codes."
- name: Web Hooks
  description: "A simple way to be notified when records change in OnePageCRM. Subscribe an endpoint and OnePageCRM POSTs each event as it happens."
paths:
  /bootstrap:
    get:
      operationId: getBootstrap
      summary: Get useful information about the logged API user's account
      description: "Includes global account configuration such as lead sources and deal stages, and user-specific configuration such as date format and time zone."
      parameters: []
      tags:
      - Bootstrap
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Bootstrap'
                  lead_sources:
                    $ref: '#/components/schemas/Lead_source'
                  statuses:
                    $ref: '#/components/schemas/Status'
                  tags:
                    description: >-
                      Tags provide a means to classify contacts by however many
                      tags you choose to attach to them. There are 2 types of
                      tags, tags and system tags
                    properties:
                      tags:
                        description: >-
                          An array of custom tags. A custom tag is a user created tag used for categorising contacts
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
                      system_tags:
                        description: >-
                          An array of system tags. A system tag is a system
                          generate tag used for categorising contacts
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
                  contacts_count:
                    $ref: '#/components/schemas/Contacts_count'
                  team_stream:
                    $ref: '#/components/schemas/Team_stream'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
  /change_auth_key:
    post:
      operationId: changeAuthKey
      summary: Invalidate the current API key and return a new API key
      description: >-
        **Warning:** This will change the users authentication key, and therefore log them out of all applications. Note: this includes the mobile applications.
      tags:
      - Bootstrap
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      auth_key:
                        description: New API Key
                        type: string
                        example: wbJBo+odEikiDOjdnL+P+0fl+Dbgk84747jFtyOZghs=
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
  /users:
    get:
      operationId: listUsers
      summary: Get the list of users (for the logged API user's account)
      tags:
      - Users
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      properties:
                        user:
                          $ref: '#/components/schemas/User'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /users/{user_id}:
    get:
      operationId: getUser
      summary: Get a specific user
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/path_user_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateUser
      summary: Update a specific user
      description: >-
        Each team member can edit their own details; admins can update anyone's.
        The API can edit these fields: first_name, last_name, company, and
        bcc_email. Set bcc_email to true to generate a new BCC email address,
        otherwise omit it — you can only update bcc_email for yourself.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/path_user_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                first_name:
                  $ref: '#/components/schemas/User/properties/first_name'
                last_name:
                  $ref: '#/components/schemas/User/properties/last_name'
                company_name:
                  $ref: '#/components/schemas/User/properties/company_name'
                bcc_email:
                  type: string
                  description: >-
                    Should the BCC email address be re-generated for this user (you can only update this field for yourself)
                  example: 'true'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /lead_sources:
    get:
      operationId: listLeadSources
      summary: Get the list of lead sources (for the logged API user's account)
      tags:
      - Lead Sources
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createLeadSource
      summary: Create a new lead source
      tags:
      - Lead Sources
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead_source'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /lead_sources/{lead_source_id}:
    get:
      operationId: getLeadSource
      summary: Get a specific lead source
      tags:
      - Lead Sources
      parameters:
      - $ref: '#/components/parameters/path_lead_source_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateLeadSource
      summary: Update a specific lead source
      tags:
      - Lead Sources
      parameters:
      - $ref: '#/components/parameters/path_lead_source_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead_source'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteLeadSource
      summary: Delete a specific lead source
      tags:
      - Lead Sources
      parameters:
      - $ref: '#/components/parameters/path_lead_source_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /statuses:
    get:
      operationId: listStatuses
      summary: Get the list of statuses (for the logged API user's account)
      description: ''
      tags:
      - Statuses
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      properties:
                        status:
                          $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createStatus
      summary: Create a new status
      description: ''
      tags:
      - Statuses
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Status'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /statuses/{status_id}:
    get:
      operationId: getStatus
      summary: Get a specific status
      description: ''
      tags:
      - Statuses
      parameters:
      - $ref: '#/components/parameters/path_status_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateStatus
      summary: Update a specific status
      description: ''
      tags:
      - Statuses
      parameters:
      - $ref: '#/components/parameters/path_status_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Status'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteStatus
      summary: Delete a specific status
      description: ''
      tags:
      - Statuses
      parameters:
      - $ref: '#/components/parameters/path_status_id'
      responses:
        200:
          description: OK
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deal_fields:
    get:
      operationId: listDealFields
      summary: Get the list of deal fields (for the logged API user's account)
      description: ''
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/query_custom_fields_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_fields:
                        type: array
                        items:
                          properties:
                            deal_field:
                              $ref: '#/components/schemas/Deal_field'
                            total_count:
                              $ref: '#/components/schemas/Page_data/properties/total_count'
                            page:
                              $ref: '#/components/schemas/Page_data/properties/page'
                            per_page:
                              $ref: '#/components/schemas/Page_data/properties/per_page'
                            max_page:
                              $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createDealField
      summary: Create a deal field
      description: Only admins can create deal fields.
      tags:
      - Deal Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal_field'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_field:
                        $ref: '#/components/schemas/Deal_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deal_fields/{deal_field_id}:
    get:
      operationId: getDealField
      summary: Get a specific deal field
      description: ''
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/path_deal_field_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_field:
                        $ref: '#/components/schemas/Deal_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateDealField
      summary: Update a specific deal field
      description: Only admins can update deal fields.
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/path_deal_field_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal_field'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_field:
                        $ref: '#/components/schemas/Deal_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteDealField
      summary: Delete a specific deal field
      description: Only admins can delete deal fields.
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/path_deal_field_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /custom_fields:
    get:
      operationId: listCustomFields
      summary: Get the list of custom fields (for the logged API user's account)
      description: ''
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/query_custom_fields_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_fields:
                        type: array
                        items:
                          properties:
                            custom_field:
                              $ref: '#/components/schemas/Custom_field'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createCustomField
      summary: Create a new custom field
      description: Only admins can create custom fields.
      tags:
      - Custom Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Custom_field'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_field:
                        $ref: '#/components/schemas/Custom_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /custom_fields/{custom_field_id}:
    get:
      operationId: getCustomField
      summary: Get a specific custom field
      description: ''
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/path_custom_field_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_field:
                        $ref: '#/components/schemas/Custom_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateCustomField
      summary: Update a specific custom field
      description: Only admins can update custom fields.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/path_custom_field_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Custom_field'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_field:
                        $ref: '#/components/schemas/Custom_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteCustomField
      summary: Delete a specific custom field
      description: Only admins can delete custom fields.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/path_custom_field_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /company_fields:
    get:
      operationId: listCompanyFields
      summary: Get the list of company fields (for the logged API user's account)
      description: ''
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/query_custom_fields_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_fields:
                        type: array
                        items:
                          properties:
                            company_field:
                              $ref: '#/components/schemas/Company_field'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createCompanyField
      summary: Create a new company field
      description: Only admins can create company fields.
      tags:
      - Company Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company_field'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_field:
                        $ref: '#/components/schemas/Company_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /company_fields/{company_field_id}:
    get:
      operationId: getCompanyField
      summary: Get a specific company field
      description: ''
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/path_company_field_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_field:
                        $ref: '#/components/schemas/Company_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateCompanyField
      summary: Update a specific company field
      description: Only admins can update company fields.
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/path_company_field_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company_field'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_field:
                        $ref: '#/components/schemas/Company_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteCompanyField
      summary: Delete a specific company field
      description: Only admins can delete company fields.
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/path_company_field_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_actions:
    get:
      operationId: listPredefinedActions
      summary: Get the list of predefined actions (for the logged API user's account)
      description: ''
      tags:
      - Predefined Actions
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_actions:
                        type: array
                        items:
                          properties:
                            predefined_action:
                              $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createPredefinedAction
      summary: Create a new predefined action
      description: ''
      tags:
      - Predefined Actions
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predefined_action'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action:
                        $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_actions/{predefined_action_id}:
    get:
      operationId: getPredefinedAction
      summary: Get a specific predefined action
      description: ''
      tags:
      - Predefined Actions
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action:
                        $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updatePredefinedAction
      summary: Update a specific predefined action
      description: ''
      tags:
      - Predefined Actions
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predefined_action'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action:
                        $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deletePredefinedAction
      summary: Delete a specific predefined action
      description: ''
      tags:
      - Predefined Actions
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_action_groups:
    get:
      operationId: listPredefinedActionGroups
      summary: Get the list of predefined action groups (for the logged API user's account)
      description: ''
      tags:
      - Predefined Action Groups
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action_groups:
                        type: array
                        items:
                          properties:
                            predefined_action_group:
                              $ref: '#/components/schemas/Predefined_action_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createPredefinedActionGroup
      summary: Create a new predefined action group
      description: ''
      tags:
      - Predefined Action Groups
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                text:
                  type: string
                  description: Name of the predefined action group
                  example: Follow-up sequence
                position:
                  type: integer
                  format: int32
                  description: Position of the group in the list of predefined action groups
                  example: 0
                action_ids:
                  type: array
                  description: List of IDs of the predefined actions in the predefined action group
                  items:
                    type: string
                    format: bson-id
                  example:
                  - 5acddaa7d556733c507ff405
                  - 5acddaa7d556733c507ff406
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action_group:
                        $ref: '#/components/schemas/Predefined_action_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_action_groups/{predefined_action_group_id}:
    get:
      operationId: getPredefinedActionGroup
      summary: Get a specific predefined action group
      description: ''
      tags:
      - Predefined Action Groups
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_group_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action_group:
                        $ref: '#/components/schemas/Predefined_action_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updatePredefinedActionGroup
      summary: Update a specific predefined action group
      description: ''
      tags:
      - Predefined Action Groups
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_group_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                text:
                  type: string
                  description: Name of the predefined action group
                  example: Follow-up sequence
                position:
                  type: integer
                  format: int32
                  description: Position of the group in the list of predefined action groups
                  example: 0
                action_ids:
                  type: array
                  description: List of IDs of the predefined actions in the predefined action group
                  items:
                    type: string
                    format: bson-id
                  example:
                  - 5acddaa7d556733c507ff405
                  - 5acddaa7d556733c507ff406
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action_group:
                        $ref: '#/components/schemas/Predefined_action_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deletePredefinedActionGroup
      summary: Delete a specific predefined action group
      description: ''
      tags:
      - Predefined Action Groups
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_group_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_items:
    get:
      operationId: listPredefinedItems
      summary: Get the list of predefined items (for the logged API user's account)
      description: ''
      tags:
      - Predefined Items
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_items:
                        type: array
                        items:
                          properties:
                            predefined_item:
                              $ref: '#/components/schemas/Predefined_item'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createPredefinedItem
      summary: Create a new predefined item
      description: ''
      tags:
      - Predefined Items
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Name of the predefined item
                  example: Solar panels
                description:
                  type: string
                  description: Description text of the predefined item
                  example: Photovoltaic solar panels (2019 model)
                cost:
                  type: number
                  format: float
                  description: Cost of the predefined item (if deals costs are enabled)
                  example: 95.00
                price:
                  type: number
                  format: float
                  description: Price of the predefined item
                  example: 149.99
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_item:
                        $ref: '#/components/schemas/Predefined_item'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_items/{predefined_item_id}:
    get:
      operationId: getPredefinedItem
      summary: Get a specific predefined item
      description: ''
      tags:
      - Predefined Items
      parameters:
      - $ref: '#/components/parameters/path_predefined_item_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_item:
                        $ref: '#/components/schemas/Predefined_item'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updatePredefinedItem
      summary: Update a specific predefined item
      description: ''
      tags:
      - Predefined Items
      parameters:
      - $ref: '#/components/parameters/path_predefined_item_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Name of the predefined item
                  example: Solar panels
                description:
                  type: string
                  description: Description text of the predefined item
                  example: Photovoltaic solar panels (2019 model)
                cost:
                  type: number
                  format: float
                  description: Cost of the predefined item (if deals costs are enabled)
                  example: 95.00
                price:
                  type: number
                  format: float
                  description: Price of the predefined item
                  example: 149.99
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_item:
                        $ref: '#/components/schemas/Predefined_item'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deletePredefinedItem
      summary: Delete a specific predefined item
      description: ''
      tags:
      - Predefined Items
      parameters:
      - $ref: '#/components/parameters/path_predefined_item_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_item_groups:
    get:
      operationId: listPredefinedItemGroups
      summary: Get the list of predefined item groups (for the logged API user's account)
      description: ''
      tags:
      - Predefined Item Groups
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_item_groups:
                        type: array
                        items:
                          properties:
                            predefined_item_group:
                              $ref: '#/components/schemas/Predefined_item_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createPredefinedItemGroup
      summary: Create a new predefined item group
      description: ''
      tags:
      - Predefined Item Groups
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Name of the predefined item group
                  example: Electronics
                deal_items:
                  type: array
                  description: List of IDs of the predefined/deal items in the predefined item group
                  items:
                    type: string
                    format: bson-id
                  example:
                  - 5c79510e9007ba3f7519e819
                  - 5c9a53349007ba58f13c8118
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_item:
                        $ref: '#/components/schemas/Predefined_item_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_item_groups/{predefined_item_group_id}:
    get:
      operationId: getPredefinedItemGroup
      summary: Get a specific predefined item group
      description: ''
      tags:
      - Predefined Item Groups
      parameters:
      - $ref: '#/components/parameters/path_predefined_item_group_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_item_group:
                        $ref: '#/components/schemas/Predefined_item_group'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deletePredefinedItemGroup
      summary: Delete a specific predefined item group
      description: ''
      tags:
      - Predefined Item Groups
      parameters:
      - $ref: '#/components/parameters/path_predefined_item_group_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /notes:
    get:
      operationId: listNotes
      summary: Get a list of notes
      description: "Returns notes logged against your contacts. A note can also be linked to a deal."
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/query_notes_contact_id'
      - $ref: '#/components/parameters/query_notes_company_id'
      - $ref: '#/components/parameters/query_notes_date_filter'
      - $ref: '#/components/parameters/query_since'
      - $ref: '#/components/parameters/query_until'
      - $ref: '#/components/parameters/query_modified_since'
      - $ref: '#/components/parameters/query_unmodified_since'
      - $ref: '#/components/parameters/query_notes_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      notes:
                        type: array
                        items:
                          properties:
                            note:
                              $ref: '#/components/schemas/Note'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createNote
      summary: Create a note
      description: "Logs a note against a contact. contact_id is required; text carries the note body; link a deal with linked_deal_id. Logging a note updates the contact's last activity date."
      tags:
      - Notes
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                text:
                  $ref: '#/components/schemas/Note/properties/text'
                date:
                  $ref: '#/components/schemas/Note/properties/date'
                linked_deal_id:
                  type: string
                  format: bson-id
                  nullable: true
                  example: ''
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      note:
                        $ref: '#/components/schemas/Note'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /notes/{note_id}:
    get:
      operationId: getNote
      summary: Get a specific note
      description: ''
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      note:
                        $ref: '#/components/schemas/Note'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateNote
      summary: Update a specific note
      description: "Updates a note. The author display name stays with the original author."
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                text:
                  $ref: '#/components/schemas/Note/properties/text'
                date:
                  $ref: '#/components/schemas/Note/properties/date'
                linked_deal_id:
                  type: string
                  format: bson-id
                  nullable: true
                  example: ''
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      note:
                        $ref: '#/components/schemas/Note'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteNote
      summary: Delete a specific note
      description: ''
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /notes/{note_id}/attachments:
    post:
      operationId: addNoteAttachment
      summary: Create attachment and assign it to an existing note
      tags:
      - Notes
      description: >-
        Before creating an attachment, the file should be uploaded to S3.  Make a request to `attachments/s3_form` for a pre-authorized upload form. Following successful upload to S3, files can be attached via this endpoint.
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - reference_type
              - key
              properties:
                reference_id:
                  type: string
                  format: bson-id
                  description: ID of the note associated with the attachment
                  example: 5afc1b69d556730b580596cb
                reference_type:
                  type: string
                  description: Type of resource is associated with the attachment
                  enum: [ deal, note, call, meeting ]
                  example: note
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                name:
                  $ref: '#/components/schemas/Attachment/properties/filename'
                key:
                  type: string
                  description: >-
                    The same key used in the `attachments/s3_form`, composed as `{contact_id}/{timestamp}/{filename}`
                  example: 5ae06ef9d55673108fe8877f/1530520812224/mario.jpg
                size:
                  $ref: '#/components/schemas/Attachment/properties/size'
                link_type:
                  type: string
                  description: Type of external link (for external `storage_provider`s)
                  enum: [ dropbox, google_drive, evernote ]
                  nullable: true
                  example: null
                external_url:
                  type: string
                  description: URL for the file (for use with external `storage_provider`s)
                  nullable: true
                  example: ''
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      attachment:
                        $ref: '#/components/schemas/Attachment'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /calls:
    get:
      operationId: listCalls
      summary: Get a list of calls
      description: "Returns calls logged against your contacts, including the result of each."
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/query_calls_contact_id'
      - $ref: '#/components/parameters/query_calls_company_id'
      - $ref: '#/components/parameters/query_calls_date_filter'
      - $ref: '#/components/parameters/query_since'
      - $ref: '#/components/parameters/query_until'
      - $ref: '#/components/parameters/query_modified_since'
      - $ref: '#/components/parameters/query_unmodified_since'
      - $ref: '#/components/parameters/query_calls_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      calls:
                        type: array
                        items:
                          properties:
                            call:
                              $ref: '#/components/schemas/Call'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createCall
      summary: Create a call
      description: "Logs a phone call against a contact. contact_id is required; record the outcome with call_result (from the account's configured results), plus the number dialled and an optional recording link."
      tags:
      - Calls
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Call/properties/contact_id'
                call_time_int:
                  $ref: '#/components/schemas/Call/properties/call_time_int'
                text:
                  $ref: '#/components/schemas/Call/properties/text'
                phone_number:
                  $ref: '#/components/schemas/Call/properties/phone_number'
                call_result:
                  $ref: '#/components/schemas/Call/properties/call_result'
                via:
                  $ref: '#/components/schemas/Call/properties/via'
                recording_link:
                  $ref: '#/components/schemas/Call/properties/recording_link'
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      call:
                        $ref: '#/components/schemas/Call'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /calls/{call_id}:
    get:
      operationId: getCall
      summary: Get a specific call
      description: ''
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      call:
                        $ref: '#/components/schemas/Call'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      operationId: updateCall
      summary: Update a specific call
      description: "Updates a call. The author display name stays with the original author."
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Call/properties/contact_id'
                call_time_int:
                  $ref: '#/components/schemas/Call/properties/call_time_int'
                text:
                  $ref: '#/components/schemas/Call/properties/text'
                phone_number:
                  $ref: '#/components/schemas/Call/properties/phone_number'
                call_result:
                  $ref: '#/components/schemas/Call/properties/call_result'
                via:
                  $ref: '#/components/schemas/Call/properties/via'
                recording_link:
                  $ref: '#/components/schemas/Call/properties/recording_link'
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      call:
                        $ref: '#/components/schemas/Call'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteCall
      summary: Delete a specific call
      description: ''
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /calls/{call_id}/attachments:
    post:
      operationId: addCallAttachment
      summary: Create attachment and assign it to an existing call
      description: >-
        Before creating an attachment, the file should be uploaded to S3.  Make a request to `attachments/s3_form` for a pre-authorized upload form. Following successful upload to S3, files can be attached via this endpoint.
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - reference_type
              - key
              properties:
                reference_id:
                  type: string
                  format: bson-id
                  description: ID of the call associated with the attachment
                  example: 5afc1b69d556730b580596cb
                reference_type:
                  type: string
                  description: Type of resource is associated with the attachment
                  enum: [ deal, note, call ]
                  example: call
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                name:
                  $ref: '#/components/schemas/Attachment/properties/filename'
                key:
                  type: string
                  description: >-
                    The same key used in the `attachments/s3_form`, composed as `{contact_id}/{timestamp}/{filename}`
                  example: 5ae06ef9d55673108fe8877f/1530520812224/mario.jpg
                size:
                  $ref: '#/components/schemas/Attachment/properties/size'
                link_type:
                  type: string
                  description: Type of external link (for external `storage_provider`s)
                  enum: [ dropbox, google_drive, evernote ]
                  nullable: true
                  example: null
                external_url:
                  type: string
                  description: URL for the file (for use with external `storage_provider`s)
                  nullable: true
                  example: ''
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      attachment:
                        $ref: '#/components/schemas/Attachment'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /call_results:
    get:
      operationId: listCallResults
      summary: Get the list of call results (for the logged API user's account)
      description: >-
        Includes: The call results for the account.; The counts of their usages for the logged API user, and their team.
      tags:
      - Calls
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      properties:
                        call_result:
                          properties:
                            result:
                              type: string
                              format: bson-id
                              description: ID of the call result
                              example: interested
                            text:
                              type: string
                              description: Display text of the call result
                              example: Interested
                            counts:
                              type: integer
                              format: int32
                              description: The number of calls for the logged API user, with the call result
                              readOnly: true
                              example: 5
                            total_counts:
                              type: integer
                              format: int32
                              description: The number of calls for the entire account, with the call result
                              readOnly: true
                              example: 5
                            team_counts:
                              type: array
                              description: The number of calls for each user, with the call result
                              readOnly: true
                              items:
                                properties:
                                  user_id:
                                    $ref: '#/components/schemas/User/properties/id'
                                  counts:
                                    type: integer
                                    format: int32
                                    description: Number of calls for the user, with the call result
                                    readOnly: true
                                    example: 4
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /meetings:
    get:
      operationId: listMeetings
      summary: Get a list of meetings
      description: "Returns meetings logged against your contacts."
      tags:
      - Meetings
      parameters:
      - $ref: '#/components/parameters/query_meetings_contact_id'
      - $ref: '#/components/parameters/query_meetings_company_id'
      - $ref: '#/components/parameters/query_meetings_date_filter'
      - $ref: '#/components/parameters/query_since'
      - $ref: '#/components/parameters/query_until'
      - $ref: '#/components/parameters/query_modified_since'
      - $ref: '#/components/parameters/query_unmodified_since'
      - $ref: '#/components/parameters/query_meetings_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      meetings:
                        type: array
                        items:
                          properties:
                            meeting:
                              $ref: '#/components/schemas/Meeting'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      operationId: createMeeting
      summary: Create a meeting
      description: "Logs a meeting against a contact. contact_id is required; place is free-form text (max 100 characters) and meeting_time records when it happened."
      tags:
      - Meetings
      parameters: []
[...]
