openapi: 3.0.0
info:
  title: OnePageCRM API
  description: >-
    <i>OnePageCRM converts the complexity of a CRM system to a simple to-do list. For more information on OnePageCRM
    please visit our [website](https://www.onepagecrm.com).</i><br><br>

    <br>
    <h3>OpenAPI Spec 3 Compliance</h3>
    We've rebuilt the OnePageCRM API documentation from the ground up to be cleaner, simpler and to comply with the
    <a target="_blank" href="https://github.com/OAI/OpenAPI-Specification">OpenAPI Spec 3</a>.<br>
    We are also releasing our OAS3 compliant documentation to the public:
    <a target="_blank" href="https://github.com/OnePageCRM/swagger">https://github.com/OnePageCRM/swagger</a>.<br>
    If you think our docs could be clearer or notice any issues, please let us know (we would also be delighted to
    receive pull requests!).<br>
    Here is a <a target="_blank" href="http://openapi.tools/">list of tools</a> for working with OpenAPI e.g. client
    SDK generation (free to use any or all of these tools with the OnePageCRM spec).<br>
    In rewriting this documentation we have exposed lots of new features of the API - we hope you enjoy using them!<br>
    If you have trouble using the OnePageCRM API or notice any issue with this documentation please contact us on our
    <a target="_blank" href="http://forum.developer.onepagecrm.com/">developer forum</a>.<br>

    <br><br>
    <h3>Authentication</h3>
    The OnePageCRM API makes use of
    <a target="_blank" href="https://en.wikipedia.org/wiki/Basic_access_authentication">HTTP Basic Authentication</a>.
    To authenticate using HTTP Basic Auth, you need the <code>user_id</code> and <code>api_key</code> associated
    with your OnePageCRM account. Your username is your <code>user_id</code> and your password is your
    <code>api_key</code>.<br>

    <br>
    <i>This information can be found by logging into your OnePageCRM account and navigating to
    <a target="_blank" href="https://app.onepagecrm.com/app/api">https://app.onepagecrm.com/app/api</a>
    and selecting the configuration tab.</i><br>

    <br><br>
    <h3>Pagination</h3>
    <p>Whenever you are fetching a list of records, you can paginate the response with these standard parameters:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="nowrap">page</td>
          <td class="nowrap">integer</td>
          <td>Page number. Starts from 1. Default is 1</td>
        </tr>
        <tr>
          <td>per_page</td>
          <td>integer</td>
          <td>Number of records to return. Maximum 100 allowed. Default is 10</td>
        </tr>
      </tbody>
    </table>
    <p>So, for example, to fetch the first batch of 20 contacts:</p>
    <p class="url"><code class="bluetext"><span class="get-text">GET</span> contacts.json?per_page=20&page=1</code></p>
    <p>And to fetch the second batch of 20 contacts:</p>
    <p class="url"><code class="bluetext"><span class="get-text">GET</span> contacts.json?per_page=20&page=2</code></p>

    <br><br>
    <h3>Undo Deletion</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="nowrap">undo</td>
          <td class="nowrap">boolean</td>
          <td>Revert the deleting operation.</td>
        </tr>
      </tbody>
    </table>
    <p>If you delete a contact with a <span class="delete-text">DELETE</span> request like this:</p>
    <p class="url"><code class="bluetext"><span class="delete-text">DELETE</span> contacts/51f251d5eb899749f7000006.json</code></p>
    <p>You can undo it by specifying an undo flag:</p>
    <p class="url"><code class="bluetext"><span class="delete-text">DELETE</span> contacts/51f251d5eb899749f7000006.json?undo=true</code></p>

    <br><br>
    <h3>Sort Listings by Time</h3>
      <p>
        When fetching collections, you can request the API only returns records that were modified in a given time range.
      </p>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>date_filter</td>
            <td>Unix timestamp</td>
            <td>Filter returned data by a particular field when combined with since and until.</td>
          </tr>
          <tr>
            <td>since</td>
            <td>Unix timestamp</td>
            <td>Return resources with dates in the provided date_filter parameter since this time. Otherwise it will return resources that were modified since this time.</td>
          </tr>
          <tr>
            <td>until</td>
            <td>Unix timestamp</td>
            <td>Return resources with dates in the provided date_filter parameter until this time. Otherwise it will return resources that were modified until this time.</td>
          </tr>
          <tr>
            <td>unmodified_since</td>
            <td>Unix timestamp</td>
            <td>Return only records that were unmodified since specified time.</td>
          </tr>
          <tr>
            <td>modified_since</td>
            <td>Unix timestamp</td>
            <td>Return only records that were modified since specified time.</td>
          </tr>
        <tbody>
      </table>

    <br><br>
    <h3>Sort Listings by Field</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>sort_by</td>
            <td>string</td>
            <td>Name of field to sort results by (eg. 'email' or 'date').</td>
          </tr>
          <tr>
            <td>order</td>
            <td>string</td>
            <td><code> asc || desc </code></td>
          </tr>
        </tbody>
      </table>
      <p>
        Using these two fields you can sort the response by a specific field in either ascending or descending order. Ascending is the default order. Here is an example for sorting contacts by firstname in reverse alphabetical order:
      </p>
      <p class="url">
        <code class="bluetext">
          <span class="get-text">GET</span>
          contacts.json?sort_by=first_name&amp;order=desc
        </code>
      </p>

    <br><br>
    <h3>Using this Documentation</h3>
      <p>
      You can use these docs to interact directly with the API. Simply:
      <ol>
        <li>
          Click the green "Authorise" button below
        </li>
        <li>
          Supply your username (<code>user_id</code>) and password (<code>api_key</code>)
        </li>
        <li>
          Find the endpoint you wish to interact with, and method you wish to use
        </li>
        <li>
          Clicking "Try it out" lets you edit the query params, request body and run requests
        </li>
        <li>
          For <code>GET</code> requests - you can change the query params
        </li>
        <li>
          For <code>POST</code>/<code>PUT</code> requests - you can edit the request body
        </li>
        <li>
          When you're happy to do so - click "Execute"
        </li>
      </ol>

      Sample responses are shown for all requests below.
      </p>
      <div class="alert alert-danger">
        <strong>Warning:</strong> Any changes made in this way will effect your OnePageCRM data. If this is your
        main account, please exercise caution when making any changes.
      </div>
    </div>
    <br><br>

  termsOfService: 'https://www.onepagecrm.com/api-use'
  version: '3.0'
servers:
- url: 'https://app.onepagecrm.com/api/v3'
  description: Production Application Server
security:
- BasicAuth: []
tags:
- name: Bootstrap
  description: >-
    Get account information like settings and lead sources, log yourself out or change your authentication key.
- name: Users
  description: >-
    Useful information about the logged user and other members of the team. Each can update their own info. Admins
    can update all.
- name: Contacts
  description: >-
    Information about the people you are actively trying to sell to, and related sub-resources like Actions,
    Deals, Notes, and Calls.
- name: Companies
  description: >-
    Referred to as 'organizations' in the web application. Companies are logical collections of Contacts and
    related sub-resources e.g. Deals, Actions and some basic info on the org. e.g. postal address, website. A
    Company may not be created directly or exist without a Contact.
- name: Actions
  description: >-
    Completable tasks related to Contacts. ASAP first, then dated actions ordered by due date (overdue first),
    followed by waiting for (blocked) and finally queued actions (without any date).
- name: Action Stream
  description: >-
    A listing of contacts prioritized by when their next action is due. The Action Stream is the default view in
    the OnePageCRM web application.
- name: Team Stream
  description: >-
    The Action Stream for all users on the account in a single list, or for any individual user on the account
    (not just the logged user). The same Action Stream sorting is applied.
- name: Deals
  description: >-
    Represent (potential) financial transactions with your contacts. Deals include information like
    amount, deal stage, closed date or expected close date. Deals support file attachments.
- name: Notes
  description: >-
    Allow you to keep track of additional information related to your contacts. Notes can include any
    information you feel is relevant e.g. interactions with that contact. Notes support file attachments.
- name: Calls
  description: >-
    Allow you to keep track of phone calls made to your contacts. Calls include information like the phone
    number dialled and the call result. Calls support file attachments.
- name: Attachments
  description: >-
    Additional files associated with Deals, Notes or Calls. They can be uploaded and stored in S3, or stored in
    external providers i.e. Google Drive, Dropbox, Evernote.
- name: Statuses
  description: >-
    Values which help qualify where contacts are in the sales pipeline. The list of Statuses is
    already populated but it may be updated if needed, to better fit your organization.
- name: Lead Sources
  description: >-
    A way to classify the source of any contact that is added to OnePageCRM. Like Statuses, this list is
    pre-populated, and can be later edited to fit individual needs.
- name: Filters
  description: >-
    Allow you to query contacts in your own custom way. These filters can only be created on the website but they
    can be used through the API.
- name: Predefined Actions
  description: >-
    Template actions users may use frequently in their sales process. Referred to as 'Saved Actions' in the web
    application.
- name: Custom Fields
  description: >-
    Extra user-configurable data fields for Contacts. Only editable by admins.
- name: Company Fields
  description: >-
    Extra user-configurable data fields for Companies. Only editable by admins.
- name: Deal Fields
  description: >-
    Extra user-configurable data fields for Deals. Only editable by admins.
- name: Countries
  description: >-
    A list of all compatible countries and their ISO-3166 codes.
- name: Web Hooks
  description: >-
    A simple, effective way to be notified when things happen in OnePageCRM. For more information, go to the
    'WebHooks & More' tab at the top of the page.
paths:
  /bootstrap:
    get:
      summary: Get useful information about the logged API user's account
      description: >-
        Includes things like: <br>
        -> Global account config e.g. lead sources and deal stages. <br>
        -> User specific config e.g. date format, time zone info. <br>
      parameters: []
      tags:
      - Bootstrap
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Bootstrap'
                  lead_sources:
                    $ref: '#/components/schemas/Lead_source'
                  statuses:
                    $ref: '#/components/schemas/Status'
                  tags:
                    description: >-
                      Tags provide a means to classify contacts by however many
                      tags you choose to attach to them. There are 2 types of
                      tags, tags and system tags
                    properties:
                      tags:
                        description: >-
                          An array of custom tags. A custom tag is a user created tag used for categorising contacts
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
                      system_tags:
                        description: >-
                          An array of system tags. A system tag is a system
                          generate tag used for categorising contacts
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
                  contacts_count:
                    $ref: '#/components/schemas/Contacts_count'
                  team_stream:
                    $ref: '#/components/schemas/Team_stream'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
  /change_auth_key:
    post:
      summary: Invalidate the current API key and return a new API key
      description: >-
        **Warning:** This will change the users authentication key, and therefore log them out of all applications. <br>
        Note: this includes the mobile applications. <br>
      tags:
      - Bootstrap
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      auth_key:
                        description: New API Key
                        type: string
                        example: wbJBo+odEikiDOjdnL+P+0fl+Dbgk84747jFtyOZghs=
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
  /users:
    get:
      summary: Get the list of users (for the logged API user's account)
      tags:
      - Users
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      properties:
                        user:
                          $ref: '#/components/schemas/User'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /users/{user_id}:
    get:
      summary: Get a specific user
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/path_user_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific user
      description: >-
        Each team member can edit their own details, admins can update all. <br>
        Only the following fields may be edited through the API: <br>
        -> <b>first_name</b> <br>
        -> <b>last_name</b> <br>
        -> <b>company</b> <br>
        -> <b>bcc_email</b> <i>(Set this field to `true` to generate a new BCC email address,
        otherwise omit the field entirely. You can only update this field for yourself.)</i> <br>
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/path_user_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                first_name:
                  $ref: '#/components/schemas/User/properties/first_name'
                last_name:
                  $ref: '#/components/schemas/User/properties/last_name'
                company_name:
                  $ref: '#/components/schemas/User/properties/company_name'
                bcc_email:
                  type: string
                  description: >-
                    Should the BCC email address be re-generated for this user (you can only update this field for yourself)
                  example: 'true'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /lead_sources:
    get:
      summary: Get the list of lead sources (for the logged API user's account)
      tags:
      - Lead Sources
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new lead source
      tags:
      - Lead Sources
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead_source'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /lead_sources/{lead_source_id}:
    get:
      summary: Get a specific lead source
      tags:
      - Lead Sources
      parameters:
      - $ref: '#/components/parameters/path_lead_source_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific lead source
      tags:
      - Lead Sources
      parameters:
      - $ref: '#/components/parameters/path_lead_source_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead_source'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    $ref: '#/components/schemas/Lead_source'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific lead source
      tags:
      - Lead Sources
      parameters:
      - $ref: '#/components/parameters/path_lead_source_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /statuses:
    get:
      summary: Get the list of statuses (for the logged API user's account)
      description:
      tags:
      - Statuses
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      properties:
                        status:
                          $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new status
      description:
      tags:
      - Statuses
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Status'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /statuses/{status_id}:
    get:
      summary: Get a specific status
      description:
      tags:
      - Statuses
      parameters:
      - $ref: '#/components/parameters/path_status_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific status
      description:
      tags:
      - Statuses
      parameters:
      - $ref: '#/components/parameters/path_status_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Status'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      status:
                        $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific status
      description:
      tags:
      - Statuses
      parameters:
      - $ref: '#/components/parameters/path_status_id'
      responses:
        200:
          description: OK
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deal_fields:
    get:
      summary: Get the list of deal fields (for the logged API user's account)
      description:
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/query_custom_fields_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_fields:
                        type: array
                        items:
                          properties:
                            deal_field:
                              $ref: '#/components/schemas/Deal_field'
                            total_count:
                              $ref: '#/components/schemas/Page_data/properties/total_count'
                            page:
                              $ref: '#/components/schemas/Page_data/properties/page'
                            per_page:
                              $ref: '#/components/schemas/Page_data/properties/per_page'
                            max_page:
                              $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new deal field
      description: Only admins can create deal fields.
      tags:
      - Deal Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal_field'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_field:
                        $ref: '#/components/schemas/Deal_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deal_fields/{deal_field_id}:
    get:
      summary: Get a specific deal field
      description:
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/path_deal_field_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_field:
                        $ref: '#/components/schemas/Deal_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific deal field
      description: Only admins can update deal fields.
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/path_deal_field_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal_field'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal_field:
                        $ref: '#/components/schemas/Deal_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific deal field
      description: Only admins can delete deal fields.
      tags:
      - Deal Fields
      parameters:
      - $ref: '#/components/parameters/path_deal_field_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deal_fields/cost_setup:
    post:
      summary: Enable the cost field for deals
      description: >-
        The cost field can be used for margin-based deals. <br>
        We subtract the deal cost from the deal amount to display the margin. <br>
        You can also calculate commission based on margin instead of amount. <br>
      tags:
      - Deal Fields
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      cost_setup:
                        $ref: '#/components/schemas/Cost_setup'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update the cost field for deals
      description:
      tags:
      - Deal Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cost_setup'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      cost_setup:
                        $ref: '#/components/schemas/Cost_setup'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Disable the cost field for deals
      description: >-
        The cost field can be used for margin-based deals. This request disables the cost field. <br>
      tags:
      - Deal Fields
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      cost_setup:
                        $ref: '#/components/schemas/Cost_setup'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /custom_fields:
    get:
      summary: Get the list of custom fields (for the logged API user's account)
      description:
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/query_custom_fields_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_fields:
                        type: array
                        items:
                          properties:
                            custom_field:
                              $ref: '#/components/schemas/Custom_field'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new custom field
      description: Only admins can create custom fields.
      tags:
      - Custom Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Custom_field'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_field:
                        $ref: '#/components/schemas/Custom_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /custom_fields/{custom_field_id}:
    get:
      summary: Get a specific custom field
      description:
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/path_custom_field_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_field:
                        $ref: '#/components/schemas/Custom_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific custom field
      description: Only admins can update custom fields.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/path_custom_field_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Custom_field'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      custom_field:
                        $ref: '#/components/schemas/Custom_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific custom field
      description: Only admins can delete custom fields.
      tags:
      - Custom Fields
      parameters:
      - $ref: '#/components/parameters/path_custom_field_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /company_fields:
    get:
      summary: Get the list of company fields (for the logged API user's account)
      description:
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/query_custom_fields_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_fields:
                        type: array
                        items:
                          properties:
                            company_field:
                              $ref: '#/components/schemas/Company_field'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new company field
      description: Only admins can create company fields.
      tags:
      - Company Fields
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company_field'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_field:
                        $ref: '#/components/schemas/Company_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /company_fields/{company_field_id}:
    get:
      summary: Get a specific company field
      description:
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/path_company_field_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_field:
                        $ref: '#/components/schemas/Company_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific company field
      description: Only admins can update company fields.
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/path_company_field_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company_field'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      company_field:
                        $ref: '#/components/schemas/Company_field'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific company field
      description: Only admins can delete company fields.
      tags:
      - Company Fields
      parameters:
      - $ref: '#/components/parameters/path_company_field_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_actions:
    get:
      summary: Get the list of predefined actions (for the logged API user's account)
      description:
      tags:
      - Predefined Actions
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_actions:
                        type: array
                        items:
                          properties:
                            predefined_action:
                              $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new predifined action
      description:
      tags:
      - Predefined Actions
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predefined_action'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action:
                        $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /predefined_actions/{predefined_action_id}:
    get:
      summary: Get a specific predefined action
      description:
      tags:
      - Predefined Actions
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action:
                        $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific predefined action
      description:
      tags:
      - Predefined Actions
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predefined_action'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      predefined_action:
                        $ref: '#/components/schemas/Predefined_action'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific predefined action
      description:
      tags:
      - Predefined Actions
      parameters:
      - $ref: '#/components/parameters/path_predefined_action_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /notes:
    get:
      summary: Get a list of notes
      description:
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/query_notes_contact_id'
      - $ref: '#/components/parameters/query_notes_company_id'
      - $ref: '#/components/parameters/query_notes_date_filter'
      - $ref: '#/components/parameters/query_since'
      - $ref: '#/components/parameters/query_until'
      - $ref: '#/components/parameters/query_modified_since'
      - $ref: '#/components/parameters/query_unmodified_since'
      - $ref: '#/components/parameters/query_notes_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      notes:
                        type: array
                        items:
                          properties:
                            note:
                              $ref: '#/components/schemas/Note'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new note
      description:
      tags:
      - Notes
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                text:
                  $ref: '#/components/schemas/Note/properties/text'
                date:
                  $ref: '#/components/schemas/Note/properties/date'
                linked_deal_id:
                  type: string
                  format: bson-id
                  nullable: true
                  example: ''
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      note:
                        $ref: '#/components/schemas/Note'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /notes/{note_id}:
    get:
      summary: Get a specific note
      description:
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      note:
                        $ref: '#/components/schemas/Note'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific note
      description:
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                text:
                  $ref: '#/components/schemas/Note/properties/text'
                date:
                  $ref: '#/components/schemas/Note/properties/date'
                linked_deal_id:
                  type: string
                  format: bson-id
                  nullable: true
                  example: ''
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      note:
                        $ref: '#/components/schemas/Note'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific note
      description:
      tags:
      - Notes
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /notes/{note_id}/attachments:
    post:
      summary: Create attachment and assign it to an existing note
      tags:
      - Notes
      description: >-
        Before creating an attachment, the file should be uploaded to S3. <br> <br>
        Make a request to `attachments/s3_form` for a pre-authorized upload form. <br>
        Following successful upload to S3, files can be attached via this endpoint. <br>
      parameters:
      - $ref: '#/components/parameters/path_note_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - reference_type
              - key
              properties:
                reference_id:
                  type: string
                  format: bson-id
                  description: ID of the note associated with the attachment
                  example: 5afc1b69d556730b580596cb
                reference_type:
                  type: string
                  description: Type of resource is associated with the attachment
                  enum: [ deal, note, call ]
                  example: note
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                name:
                  $ref: '#/components/schemas/Attachment/properties/filename'
                key:
                  type: string
                  description: >-
                    The same key used in the `attachments/s3_form`, composed as `{contact_id}/{timestamp}/{filename}`
                  example: 5ae06ef9d55673108fe8877f/1530520812224/mario.jpg
                size:
                  $ref: '#/components/schemas/Attachment/properties/size'
                link_type:
                  type: string
                  description: Type of external link (for external `storage_provider`s)
                  enum: [ dropbox, google_drive, evernote ]
                  nullable: true
                  example: ''
                external_url:
                  type: string
                  description: URL for the file (for use with external `storage_provider`s)
                  nullable: true
                  example: ''
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      attachment:
                        $ref: '#/components/schemas/Attachment'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /calls:
    get:
      summary: Get a list of calls
      description:
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/query_calls_contact_id'
      - $ref: '#/components/parameters/query_calls_company_id'
      - $ref: '#/components/parameters/query_calls_date_filter'
      - $ref: '#/components/parameters/query_since'
      - $ref: '#/components/parameters/query_until'
      - $ref: '#/components/parameters/query_modified_since'
      - $ref: '#/components/parameters/query_unmodified_since'
      - $ref: '#/components/parameters/query_calls_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      calls:
                        type: array
                        items:
                          properties:
                            call:
                              $ref: '#/components/schemas/Call'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a call
      description:
      tags:
      - Calls
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Call/properties/contact_id'
                call_time_int:
                  $ref: '#/components/schemas/Call/properties/call_time_int'
                text:
                  $ref: '#/components/schemas/Call/properties/text'
                phone_number:
                  $ref: '#/components/schemas/Call/properties/phone_number'
                call_result:
                  $ref: '#/components/schemas/Call/properties/call_result'
                via:
                  $ref: '#/components/schemas/Call/properties/via'
                recording_link:
                  $ref: '#/components/schemas/Call/properties/recording_link'
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      call:
                        $ref: '#/components/schemas/Call'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /calls/{call_id}:
    get:
      summary: Get a specific call
      description:
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      call:
                        $ref: '#/components/schemas/Call'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific call
      description:
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Call/properties/contact_id'
                call_time_int:
                  $ref: '#/components/schemas/Call/properties/call_time_int'
                text:
                  $ref: '#/components/schemas/Call/properties/text'
                phone_number:
                  $ref: '#/components/schemas/Call/properties/phone_number'
                call_result:
                  $ref: '#/components/schemas/Call/properties/call_result'
                via:
                  $ref: '#/components/schemas/Call/properties/via'
                recording_link:
                  $ref: '#/components/schemas/Call/properties/recording_link'
                user_ids_to_notify:
                  type: array
                  description: A list of user IDs to notify
                  items:
                    type: string
                    format: bson-id
                    example: 5aba31e99007ba0f570c12f7
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      call:
                        $ref: '#/components/schemas/Call'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific call
      description:
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /calls/{call_id}/attachments:
    post:
      summary: Create attachment and assign it to an existing call
      description: >-
        Before creating an attachment, the file should be uploaded to S3. <br> <br>
        Make a request to `attachments/s3_form` for a pre-authorized upload form. <br>
        Following successful upload to S3, files can be attached via this endpoint. <br>
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/path_call_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - reference_type
              - key
              properties:
                reference_id:
                  type: string
                  format: bson-id
                  description: ID of the call associated with the attachment
                  example: 5afc1b69d556730b580596cb
                reference_type:
                  type: string
                  description: Type of resource is associated with the attachment
                  enum: [ deal, note, call ]
                  example: call
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                name:
                  $ref: '#/components/schemas/Attachment/properties/filename'
                key:
                  type: string
                  description: >-
                    The same key used in the `attachments/s3_form`, composed as `{contact_id}/{timestamp}/{filename}`
                  example: 5ae06ef9d55673108fe8877f/1530520812224/mario.jpg
                size:
                  $ref: '#/components/schemas/Attachment/properties/size'
                link_type:
                  type: string
                  description: Type of external link (for external `storage_provider`s)
                  enum: [ dropbox, google_drive, evernote ]
                  nullable: true
                  example: ''
                external_url:
                  type: string
                  description: URL for the file (for use with external `storage_provider`s)
                  nullable: true
                  example: ''
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      attachment:
                        $ref: '#/components/schemas/Attachment'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /call_results:
    get:
      summary: Get the list of call results (for the logged API user's account)
      description: >-
        Includes: <br>
        -> The call results for the account. <br>
        -> The counts of their usages for the logged API user, and their team. <br>
      tags:
      - Calls
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    type: array
                    items:
                      properties:
                        call_result:
                          properties:
                            result:
                              type: string
                              format: bson-id
                              description: ID of the call result
                              example: interested
                            text:
                              type: string
                              description: Display text of the call result
                              example: Interested
                            counts:
                              type: integer
                              format: int32
                              description: The number of calls for the logged API user, with the call result
                              readOnly: true
                              example: 5
                            total_counts:
                              type: integer
                              format: int32
                              description: The number of calls for the entire account, with the call result
                              readOnly: true
                              example: 5
                            team_counts:
                              type: array
                              description: The number of calls for each user, with the call result
                              readOnly: true
                              items:
                                properties:
                                  user_id:
                                    $ref: '#/components/schemas/User/properties/id'
                                  counts:
                                    type: integer
                                    format: int32
                                    description: Number of calls for the user, with the call result
                                    readOnly: true
                                    example: 4
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deals:
    get:
      summary: Get a list of deals
      description:
      tags:
      - Deals
      parameters:
      - $ref: '#/components/parameters/query_deals_name'
      - $ref: '#/components/parameters/query_deals_search'
      - $ref: '#/components/parameters/query_deals_status'
      - $ref: '#/components/parameters/query_stage'
      - $ref: '#/components/parameters/query_deals_owner_id'
      - $ref: '#/components/parameters/query_deals_contact_id'
      - $ref: '#/components/parameters/query_deals_company_id'
      - $ref: '#/components/parameters/query_deals_tag'
      - $ref: '#/components/parameters/query_deals_filter_id'
      - $ref: '#/components/parameters/query_deals_date_filter'
      - $ref: '#/components/parameters/query_since'
      - $ref: '#/components/parameters/query_until'
      - $ref: '#/components/parameters/query_modified_since'
      - $ref: '#/components/parameters/query_unmodified_since'
      - $ref: '#/components/parameters/query_deals_sort_by'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_page'
      - $ref: '#/components/parameters/query_per_page'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deals:
                        type: array
                        items:
                          properties:
                            deal:
                              $ref: '#/components/schemas/Deal'
                      total_count:
                        $ref: '#/components/schemas/Page_data/properties/total_count'
                      page:
                        $ref: '#/components/schemas/Page_data/properties/page'
                      per_page:
                        $ref: '#/components/schemas/Page_data/properties/per_page'
                      max_page:
                        $ref: '#/components/schemas/Page_data/properties/max_page'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    post:
      summary: Create a new deal
      description:
      tags:
      - Deals
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Deal/properties/contact_id'
                owner_id:
                  $ref: '#/components/schemas/Deal/properties/owner_id'
                name:
                  $ref: '#/components/schemas/Deal/properties/name'
                text:
                  $ref: '#/components/schemas/Deal/properties/text'
                stage:
                  $ref: '#/components/schemas/Deal/properties/stage'
                status:
                  $ref: '#/components/schemas/Deal/properties/status'
                expected_close_date:
                  $ref: '#/components/schemas/Deal/properties/expected_close_date'
                close_date:
                  $ref: '#/components/schemas/Deal/properties/close_date'
                date:
                  $ref: '#/components/schemas/Deal/properties/date'
                amount:
                  $ref: '#/components/schemas/Deal/properties/amount'
                months:
                  $ref: '#/components/schemas/Deal/properties/months'
                cost:
                  $ref: '#/components/schemas/Deal/properties/cost'
                commission_base:
                  $ref: '#/components/schemas/Deal/properties/commission_base'
                commission_type:
                  $ref: '#/components/schemas/Deal/properties/commission_type'
                commission:
                  $ref: '#/components/schemas/Deal/properties/commission'
                commission_percentage:
                  $ref: '#/components/schemas/Deal/properties/commission_percentage'
                deal_fields:
                  type: array
                  description: Extra user-configurable data fields for Deals. Only editable by admins.
                  items:
                    type: object
                    properties:
                      deal_field:
                        properties:
                          id:
                            type: string
                            format: bson-id
                            description: ID of the deal field
                            example: 5aad9b039007ba28c9ebad56
                      value:
                        type: string
                        description: Value for the deal field
                        example: Large
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal:
                        $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deals/{deal_id}:
    get:
      summary: Get a specific deal
      description:
      tags:
      - Deals
      parameters:
      - $ref: '#/components/parameters/path_deal_id'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal:
                        $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    put:
      summary: Update a specific deal
      description:
      tags:
      - Deals
      parameters:
      - $ref: '#/components/parameters/path_deal_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  $ref: '#/components/schemas/Deal/properties/contact_id'
                owner_id:
                  $ref: '#/components/schemas/Deal/properties/owner_id'
                name:
                  $ref: '#/components/schemas/Deal/properties/name'
                text:
                  $ref: '#/components/schemas/Deal/properties/text'
                stage:
                  $ref: '#/components/schemas/Deal/properties/stage'
                status:
                  $ref: '#/components/schemas/Deal/properties/status'
                expected_close_date:
                  $ref: '#/components/schemas/Deal/properties/expected_close_date'
                close_date:
                  $ref: '#/components/schemas/Deal/properties/close_date'
                date:
                  $ref: '#/components/schemas/Deal/properties/date'
                amount:
                  $ref: '#/components/schemas/Deal/properties/amount'
                months:
                  $ref: '#/components/schemas/Deal/properties/months'
                cost:
                  $ref: '#/components/schemas/Deal/properties/cost'
                commission_base:
                  $ref: '#/components/schemas/Deal/properties/commission_base'
                commission_type:
                  $ref: '#/components/schemas/Deal/properties/commission_type'
                commission:
                  $ref: '#/components/schemas/Deal/properties/commission'
                commission_percentage:
                  $ref: '#/components/schemas/Deal/properties/commission_percentage'
                deal_fields:
                  type: array
                  description: Extra user-configurable data fields for Deals. Only editable by admins.
                  items:
                    type: object
                    properties:
                      deal_field:
                        properties:
                          id:
                            type: string
                            format: bson-id
                            description: ID of the deal field
                            example: 5aad9b039007ba28c9ebad56
                      value:
                        type: string
                        description: Value for the deal field
                        example: Large
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
                      deal:
                        $ref: '#/components/schemas/Deal'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a specific deal
      description: >-
        Note: only users with the `delete_deals` permission can delete deals.
      tags:
      - Deals
      parameters:
      - $ref: '#/components/parameters/path_deal_id'
      responses:
        200:
          $ref: '#/components/responses/200'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        409:
          $ref: '#/components/responses/409'
        500:
          $ref: '#/components/responses/500'
  /deals/{deal_id}/attachments:
    post:
      summary: Create attachment and assign it to an existing deal
      description: >-
        Before creating an attachment, the file should be uploaded to S3. <br>
        Make a request to `attachments/s3_form` for a pre-authorized upload form. <br>
        Following successful upload to S3, files can be attached via this endpoint. <br>
      tags:
      - Deals
      parameters:
      - $ref: '#/components/parameters/path_deal_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - reference_type
              - key
              properties:
                reference_id:
                  type: string
                  format: bson-id
                  description: ID of the deal associated with the attachment
                  example: 5afc1b69d556730b580596cb
                reference_type:
                  type: string
                  description: Type of resource is associated with the attachment
                  enum: [ deal, note, call ]
                  example: deal
                contact_id:
                  $ref: '#/components/schemas/Note/properties/contact_id'
                name:
                  $ref: '#/components/schemas/Attachment/properties/filename'
                key:
                  type: string
                  description: >-
                    The same key used in the `attachments/s3_form`, composed as `{contact_id}/{timestamp}/{filename}`
                  example: 5ae06ef9d55673108fe8877f/1530520812224/mario.jpg
                size:
                  $ref: '#/components/schemas/Attachment/properties/size'
                link_type:
                  type: string
                  description: Type of external link (for external `storage_provider`s)
                  enum: [ dropbox, google_drive, evernote ]
                  nullable: true
                  example: ''
                external_url:
                  type: string
                  description: URL for the file (for use with external `storage_provider`s)
                  nullable: true
                  example: ''
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Success/properties/status'
                  message:
                    $ref: '#/components/schemas/Success/properties/message'
                  timestamp:
                    $ref: '#/components/schemas/Success/properties/timestamp'
                  data:
                    properties:
[...]
